<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a style="cursor: pointer;" router-link="/" class="navbar-brand">VoteNox</a>
      </div>
      <div class=" collapse navbar-collapse">
          <ul class="nav navbar-nav">
                <ng-template [ngIf]="isValid">
                    <li routerLinkActive="active"><a routerLink="/">New Poll</a></li>
                    <li routerLinkActive="active"><a routerLink="/">My Polls</a></li>
                </ng-template>
          </ul>
          <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!isValid" > 
                    <li><a routerLink="/login">Login</a></li>
                </ng-template>
                <ng-template [ngIf]="isValid">
                    <li><a style="cursor: pointer;">{{userFirstName}}</a></li>
                    <li><a style="cursor: pointer;" (click)="onSignOut()">Logout</a></li>
                </ng-template>
          </ul>
      </div>
  </div>
</nav>
