.header {
  font-size: 30px;
}

.content-section {
  display: block;
  border-bottom: solid 1px #dde3e6;
  padding: 30px;
  overflow: hidden;
  background-color: #f5f7f8;
}

.implementation {
  background-color: #FFFFFF;
  overflow: visible;
}